body {
    margin: 0;
    font-family: 'barlow';

  }
  
  .topnav {
    overflow: hidden;
    background-color: transparent;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 16px;
  }
  
  .logo {
    float: left;
    display: block;
  }

  .topnav a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 1em;
  }
  
  .topnav a:hover {
    
    background-color: #f2f2f2;
    fill-opacity: 0.5;
    color: #f2f2f2;
    border: transparent;
    border-radius: 25px;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .header{
      display: flex;
      justify-content: center;
      align-items: center;  
  }

  .headerImage{
    width: 100%;
    height: auto;
  }

  .headerText{
      position: absolute;
      font-family: 'fraunces';
      font-weight: 700;
      color: rgb(255, 255, 255);
      font-size: 60px;
      letter-spacing: 0.3vw;
      text-align: center;
  }



  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      position: absolute;
      right: 0;
      top: 0;
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .logo{
        margin-right: 100%;
    }
    .topnav.responsive {
        position: relative;
        padding: 16px;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      margin: auto;
      content: "";
      clear: both;
      display: table;
    }

  }
  